body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffe4e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTENEDOR */
.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* BOTÓN */
button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #ff69b4;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #ff1493;
}

/* TEXTO */
p {
    margin-top: 15px;
}