body{
    margin: 0;
}
.main-container{
    width: 200vw;
    height: 200vh;
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 20%;
    margin: auto;
    
}

.text-container{
    
    height: 50%;
    background-color: white;
    border-radius: 20%;
    padding: 50px 25px;
}

.image-container{
    width: 300px;
    height: 300px;
    border-radius: 30%;
    background-color: none;
    margin: auto;

}

img{
    width: 100%;
    height: 100%;
    border-radius: 20;
}

h1{
    margin-top: 0;
    text-align: center;
}

h2{
    margin-top: 0;
    text-align: center;
    color: #f88d37;
}

button{
    margin: auto;
    display: block;
    background-color: #f88d37;
    border-radius: 25%;
    color: white;
    height: 40px;
    font-size: 14px;
    width: 180px;
}

